.category {
    font-size: 16px;
    color: white;
    background-color: #484a4e;
    border: #484a4e solid 1px;
    border-radius: 3px;
    padding: 5px 12px;
    cursor: pointer;
  }

  .category:hover {
    background-color: #282c34;
    border-color: #282c34;
  } 