.product
{
    border-style: solid;
    display: flex;
    width: 33%;
    flex-direction:column;
    box-sizing: border-box;
    align-items: center;
    margin-top: 0vmin;

}
.button
{
    width: 120px;
}

.bookImage
{
     margin :10px 10px;
}