.header
{
    min-height: 20vh;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    background:linear-gradient(110deg,#eeee87 50%,#eeeeee 60%);
    display: inline-flex;
    display:flex; flex-direction:row;
}
.cartImg
{
    
    border: solid;
    display: inline-flex;
}

.cartUserSection
{
    align-items: flex-end;
    display:flex; 
    flex-direction:row;
}

.username
{
    border: solid;
    display: inline-flex;
}